body {
    background-color: rgb(58, 101, 187);
    color: white;
}

.allZooLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.eachLink {
    width: fit-content;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: .2rem solid rgb(58, 187, 133);
    border-radius: .5rem;
    font-style: italic;
    padding: .25rem;
}
.eachLink:hover {
    text-decoration: underline;
}
