body {
    background-color: rgb(87, 87, 164);
}

#toggleButton {
    color: rgb(0, 8, 255);
}

#scoreField {
    display: inline-block;
    color: aquamarine;
    background-color: rgb(11, 42, 197);
    margin-top: 20px;
    font-size: 2rem;
    width: 35rem;
    padding-left: 1rem;
    text-align: center;
    /* border: solid rgb(15, 146, 234) .25rem; */
    border-radius: .5rem;
}

#scoreDropdown {
    display: none;
    margin-top: 10px;
    background-color: rgb(6, 6, 37);
    color: aquamarine;
}

#linksVille {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .eachLink {
    font-size: 1.25rem;
    text-decoration: none;
  }

.link1 {
    color:rgb(130, 156, 236);
    margin-right: 1rem;
  }

.link2 {
    color:rgb(83, 208, 81);
    margin-right: 1rem;
  }
  
.link3 {
    color:rgb(242, 106, 154);
    margin-right: 1rem;
  }

